@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");

:root {
  --mainDarkGreen: #196d4c;
  --mainGreen: #7ed49a;
  --mainBrown: #a08a6c;
  --mainBlack: #000000;
  --mainWhite: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: var(--mainDarkGreen);
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--mainBrown);
}

/* NAVBAR */
.navbar-light {
  font-size: 15px;
}
.navbar-light .navbar-brand {
  font-weight: 600;
  color: var(--mainDarkGreen) !important;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: var(--mainBrown) !important;
}

.navbar-light .navbar-text {
  color: var(--mainDarkGreen);
}

/* HEADER */
header {
  height: 600px;
  min-height: 600px;
  padding: 10% 0;
  background-image: url(./images/background_header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
}

header h1 {
  width: 70%;
  margin: 1em 0 0 0;
}

header h3 {
  width: 50%;
  margin: 1em 0 0 0;
}

.btnOutline {
  display: block;
  text-decoration: none;
  color: white;
  border: 2px solid var(--mainDarkGreen);
  background-color: var(--mainDarkGreen);
  border-radius: 50px;
  width: 175px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.btnOutline:hover {
  text-decoration: none;
  color: var(--mainGreen);
}

/* TEAM */

/* .team {
  height: 600px;
  min-height: 600px;
  text-align: center;
  margin: 5em 0;
  padding: 10% 0;
  background-image: url(./images/background_team.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.team h1 {
  width: 50%;
  font-size: 30px;
  font-weight: 600;
  margin: 0 auto 30px auto;
}

.members {
  display: flex;
  justify-content: center;
  padding: 0 200px;
}

.person {
  margin: 0 40px;
  color: var(--mainDarkGreen);
}

.person img {
  width: 70px;
  margin-bottom: 5px;
}

.team h3 {
  margin-bottom: 5px;
  font-weight: 600;
} */

/* ABOUT */
.about {
  height: 600px;
  min-height: 600px;
  text-align: center;
  margin: 15% 0;
  padding: 10% 0;
}
.about h1 {
  color: var(--mainDarkGreen);
  margin-bottom: 30px;
}

.about p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--mainBrown);
  padding: 0 20%;
  padding-bottom: 20%;
}
