@import url("App.css");

/* ABOUT */
.about {
  overflow: hidden;
  text-align: center;
  /* margin: 10% 15%;
  padding: 10% 0; */
  display: grid;
  grid-template-columns: 40% 60%;
}
.about h1 {
  color: var(--mainDark);

  margin: 50% 0;
  /* margin-bottom: 30px; */
}

.about .left-content {
  /* margin: 10% 5% 30% 10%; */
  padding: 10%;
  background-color: var(--mainLight);
  background-color: var(--mainWhite);
  border-top: 2px dashed var(--mainDark);
  border-bottom: 2px dashed var(--mainDark);
}

.about .right-content {
  /* margin: 10% 15% 5% 10%; */
  padding: 17%;
  /* border-left: 2px solid var(--mainDark); */
  background-color: var(--mainDark);
}

.about .right-content p {
  padding: 0;
  margin: 0;
  color: var(--mainWhite);
}
/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
  }
}
