@import url("App.css");

/* ABOUT */
.about {
  min-height: 600px;
  padding: 10%;
  margin: 10%;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 
.about .left-content {

  padding: 10%;
  background-color: var(--mainLight);
  background-color: var(--mainWhite);
  border-top: 3px solid var(--mainDark);
  border-bottom: 3px solid var(--mainDark);
}

.about .right-content {
  margin: 10% 15% 5% 10%;
  padding: 17%;
  border-left: 2px solid var(--mainDark);
  background-color: var(--mainDark);
}

.about .right-content p {
  padding: 0;
  margin: 0;
  color: var(--mainWhite);
} */

.about-page {
  max-width: 45rem;
}
/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  .about h1 {
    margin: 10% 0;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about .right-content p {
    font-size: 15px;
  }
}
