@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap");

:root {
  --mainDark: #0f2d2f;
  --mainGreen: #196d4c;
  --mainLight: #98bb5c;
  --mainOrange: #993d1f;
  --mainYellow: #f0d74b;
  --mainWhite: #ffffff;
  --mainBlack: #000000;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: var(--mainGreen);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: var(--mainGreen);
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--mainOrange);
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--mainOrange);
  /* padding: 0 10%; */
}

input[type="text"],
input[type="button"] {
  -webkit-appearance: none !important;
  /* -webkit-border-radius: 0 !important; */
}

input {
  border-radius: 3px !important;
}

.form-control {
  text-align: left;
}

input:focus,
.form-control:focus {
  outline: none !important;
  box-shadow: none;
  border-color: none;
}

.register-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 3px !important ;
}
.register-input-container input {
  margin: 0 !important;
  border: none !important;
}
.register-input-container i {
  margin: 0 12px;

  color: var(--mainDark);
}

.icon-visibility {
  width: 20px;
  height: 20px;
}

/* NAVBAR */
.navbar-light {
  font-size: 15px;
  font-weight: 600;
}
.navbar-light .navbar-brand {
  font-weight: 600;
  color: var(--mainGreen) !important;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: var(--mainOrange) !important;
}

.navbar-light .navbar-text {
  font-weight: 600;
  color: var(--mainGreen);
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.btn {
  border-color: 1px solid var(--mainDark) !important;
  border-radius: 0 !important;
}

.btn-dark {
  background-color: var(--mainDark) !important;
}
/* RESPONSIVE */

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 15px;
  }

  h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: var(--mainOrange);
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--mainOrange);
  }

  button {
    font-size: 12px !important;
  }

  input {
    height: 40px;
    width: 100%;
    font-size: 12px;
  }
}
