@import url("App.css");

/* PREDICTION */

.prediction-container {
  /* height: 600px; */
  min-height: 600px;
  /* padding: 10% 0; */
  /* margin: 10% 0; */
  padding: 10%;
  text-align: center;
  overflow: hidden;
  background-color: #dbe7c5;

  /* border-top: 2px dashed var(--mainDark); */
}

.predictions {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
}
.predictions .left-content img {
  margin: 15% 0;
  padding: 12% 0;
  width: 100%;
}

.predictions .right-content {
  margin: 15% 0;
  padding-top: 10%;
}

.prediction-container h1 {
  color: var(--mainGreen);
}
/* .predictions .btnOutline {
  background-color: var(--mainLight);
  color: var(--mainDark);
  display: block;
  margin: auto;
  font-size: 17px;
}

.predictions .btnOutline:hover {
  color: var(--mainGreen);
  text-decoration: none;
} */
.ingredient-h3 {
  text-align: center;
}
.ingredient-h3-id {
  font-size: 30px;
  font-weight: 700 !important;
  color: var(--mainGreen);
  text-align: center;
}

input {
  text-align: center;
  height: 50px;
  width: 55%;
  border: 1px solid var(--mainDark);
  margin: 10px 0;
}

.auto-complete {
  padding-bottom: 10px;
  padding-top: 20px;
  display: block;
  margin: auto;
  font-size: 17px;
}

.container-food {
  display: grid;
  grid-template-columns: 50% 50%;
}

.predictions .button {
  /* margin: 1rem; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  background-color: #dbe7c5;
  color: var(--mainDark);
  border: 2px solid var(--mainDark);
  padding: 0.5rem 1rem;
  font-size: 15px;
  position: relative;
  transition: all 0.5s;
}

/* .predictions .button::before,
.predictions .button::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2rem;
  border-style: solid;
  border-color: var(--mainDark);
  transition: all 0.5s;
}

.predictions .button::before {
  top: -12px;
  left: -12px;
  border-width: 2px 0 0 2px;
}

.predictions .button::after {
  bottom: -12px;
  right: -12px;
  border-width: 0 2px 2px 0;
}

.predictions .button:hover::before,
.predictions .button:hover::after {
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  border-color: var(--mainDark);
} */

.predictions .button:hover {
  color: var(--mainWhite);
  text-decoration: none;
  background-color: var(--mainDark);
}

.foodie {
  padding: 30px;
  /* display: inline; */
}
.foodie ul li {
  list-style: none;
  /* padding: 5px; */
  margin: 5px;
  /* border: 1.5px solid var(--mainDark); */
  /* transition: all 0.5s; */
}

.foodie ul li button {
  padding: 5%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: var(--mainOrange);
  background-color: var(--mainOrange);
  font-weight: 400;
  background: linear-gradient(
    to bottom,
    var(--mainOrange) 0%,
    var(--mainOrange) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  transition: background-size 0.2s;
  box-shadow: none;
  border-image: none;
  border-radius: 0;
  padding: 5px;
  text-decoration: none;
  margin: 0;
}

.MuiInputBase-root {
  font-family: "Poppins", sans-serif !important;
  color: var(--mainGreen) !important;
}

.foodie ul li button:hover {
  box-shadow: none;
  text-decoration: none;
  color: var(--mainWhite);
  background-size: 4px 50px;
}

button:focus {
  outline: 0;
}

ul li .label {
  font-size: 1.7vw;
  font-weight: 600;
  text-decoration: none !important;
  list-style-type: none;
  color: var(--mainGreen);
  background: none;
  background-size: 0px;
  padding: 5px;
}

ul li .label:hover {
  background-size: 0px !important;
}

.loading {
  min-height: 5px;
  padding: 3% 0;
  margin: 3% 0;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.lds-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--mainDark);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media only screen and (max-width: 600px) {
  .predictions {
    display: flex;
    flex-direction: row;
    /* flex */
  }
  .container-food {
    grid-template-columns: 100%;
  }
}
