table {
  width: 100%;
  background-color: #fff;
  margin: 1rem 0;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  color: var(--mainGreen);
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

.table100.ver4 td {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #808080;
  line-height: 1.4;
}

.table100.ver4 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #fa4251;
}

.table100.ver4 .row100:hover td {
  color: #fa4251;
}

.table100.ver4 .hov-column-ver4 {
  background-color: #ffebed;
}

.table100.ver4 .hov-column-head-ver4 {
  background-color: #f95462 !important;
}

.table100.ver4 .row100 td:hover {
  background-color: #ffebed;
  color: #fa4251;
}
