.hscroll {
  overflow-x: auto; /* Horizontal */
}

table {
  width: 100%;
  background-color: #fff;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: center;
}

.sort-message {
  margin: 20px 0;
  font-size: 1rem;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  color: var(--mainDark);
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}

/* .table100.ver4 td {
  line-height: 1.4;
}

.table100.ver4 th {
  font-family: Montserrat-Medium;
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #fa4251;
}

.table100.ver4 .row100:hover td {
  color: #fa4251;
} */

/* .table100.ver4 .hov-column-ver4 {
  background-color: #ffebed;
}

.table100.ver4 .hov-column-head-ver4 {
  background-color: #f95462 !important;
}

.table100.ver4 .row100 td:hover {
  background-color: #ffebed;
  color: #fa4251;
} */

.sorting-button {
  background-color: var(--mainWhite);
  font-size: 1rem;
  font-weight: 600;
  color: var(--mainDark);
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  text-decoration: none;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  transition: background-size 0.2s;
  box-shadow: none;
  border-image: none;
  border-radius: 0;
  padding: 5px;
  text-decoration: none;
  margin: 0;
  transition: all 0.2s;
}

.sorting-button:hover {
  color: var(--mainWhite);
  text-decoration: none;
  background-color: var(--mainDark);
  background-size: 4px 50px;
}

td.favorite-res {
  text-align-last: center;
  vertical-align: middle;
}

.button-fav {
  background-color: var(--mainWhite);
}

.faStar {
  margin: 2px;
  width: 1.8rem;
  height: 1.8rem;
  color: var(--mainGreen);
  transition: all 0.5s;
}

.faStar:hover {
  color: var(--mainOrange);
}
